body{
	font-family: roboto , arial;
	color: #3b3b3d;
}

img{
	max-width: 100%;
}

section{
	min-height: 370px;
	padding: 5em 0 !important;
}

header .logo{
	position: relative;
}

header .logo a{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.p-section{
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
}

.p-section .customer-logos{
	flex: 1;
	-webkit-flex : 1;
  	align-items: center;
}

.main-video-banner{
	background: #060810 url(../images/header_bg_soccer.jpg) no-repeat 50% -20px;
    background-size: 100%;
    padding: 30px 0;
}

.main-video-banner iframe{
	width: 100%;
	height: auto;
}

.page-heading{
	color: #fff;
	font-size: 3em;
}

.orange-btn{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    background: #fa4616;
    text-transform: capitalize;
}

.section-heading{
	font-size: 2.5em;
}

.radial-gradient{
	background-color: #14123A;
    background-image: radial-gradient( circle at center center, rgba(40,32,185,0.4) 50%, rgba(16, 13, 84, 0) 100% );
    color: #f1f0ff;
    padding: 15px;
    border-top: 5px solid #FA4616;
}

.section-content{
	font-size: 1.4em;
}

.section-btn,.section-btn:hover{
	border:1px solid rgba(133,125,255,1);
	color: #fff;
}

.section-white, .section-white .section-btn, .section-dark .section-btn,.section-dark .section-btn:hover,.faq-section #accordion {
	color: rgba(30,32,36,1);
}

.section-dark{
	background-color: #f6f6f6;
}

.hide-bullets {
	padding: 0;
    list-style:none;
}

.hide-bullets li{
	margin: 0 0 20px 0;
  	width: 95%;
  	padding: 2.5em;	
}

.hide-bullets li img{
	-webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
    align-self: center;
    -webkit-align-self:center;
}

.faq-section #accordion .card-header,.faq-section .collapse.show{
	background-color: #191557;
    color: #f1f0ff;
}

/*price board css*/

.single-price {
	text-align: center;
	padding: 30px;
	box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.single-price:hover{
	background-color:#19165d;
}

.price-title h4 {
  font-size: 1.4em;
  font-weight: 600;
}

.price-tag {
	background-color: #fafafa;
	color: #000;
}
.center.price-tag {
	background-color:#fa4616;
	color:#fff
}
.price-tag h2 {
	font-size: 2.6em;
	font-weight: 600;
}
.price-item ul li {
  font-size: 14px;
  padding: 0.5em 0;
  border-bottom: 1px dashed #eee;
  margin: 0.5em 0;
}
.price-item ul li:last-child {
  border-bottom: 0;
}
.single-price a {
  margin-top: 3em;
}


/*responsive css*/
@media screen and (min-width: 767px){
	.main-video-banner{
		height: 100vh;
	}

	.main-video-banner iframe{
		max-width: 45em;
		height: 25em;
	}

	.text-sm-right {
	    text-align:right;
	}

	.text-sm-left{
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
  .main-video-banner{
		height: auto;
	}

	.page-heading{
		margin-top: 20px;
	}

}

@media only screen and (max-width: 480px) {
  .main-video-banner{
		max-height: 100vh;
		padding-top: 5px;
	}

	.page-heading{
		font-size:1.8em;
	}

	.section-heading {
	    font-size: 1.8em;
	    margin: 10px 0;
	}

	.hide-bullets li{
		padding: 1.5em;
	}
}
